.overall {
  height: 750px;
  background-color: $color-orders-background;
  .header {
    text-align: center;
    img {
      margin: 10px auto;
      width: 200px;
    }
  }
  .contents {
    height: 600px;
    width: 500px;
    background-color: $color-contents-background;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    .title {
      font-size: 20px;
      margin: 10px auto;
      font-weight: 700;
    }
    .product {
      height: 150px;
      width: 100%;
      display: flex;
      padding: 30px;
      justify-content: center;
      border-top: 1px solid $color-orders-border;
      img {
        height: 100px;
        width: 100px;
      }
      &__details {
        height: 100px;
        text-align: left;
        padding-left: 10px;
        .product__name {
          height: 50px;
        }
        .casher {
          display: flex;
          .money {
            width: 100px;
          }
          .postage {
            width: 100px;
          }
        }
      }
    }
    ul {
      list-style-type: none;
      padding: 20px 40px;
      margin: 0;
      border-top: 1px solid $color-orders-border;
      li {
        display: inline;
        padding: 10px;
      }
    }
    p {
      padding-right: 20px;
    }
    .shipping {
      padding: 10px;
      &__address {
        text-align: center;
      }
    }
    .buy {
      padding: 20px;
      border-top: 1px solid $color-orders-border;
    }
    button {
      width: 200px;
      height: 35px;
      background-color: $theme-color;
      border: none;
      font-size: 15px;
    }
  }
}