.creditcard
  .title
    クレジットカード情報入力
    = form_tag(pay_creditcard_index_path, method: :post, id: 'charge-form',  name: "inputForm") do
      .information
        .information__number
          %label.information__number--title カード番号
          %span.information__number--required 必須
          = text_field_tag "number", "", class: "number", placeholder: "半角数字のみ", maxlength: "16", type: "text", id: "card_number"
        =image_tag "material/credit/creditcard-company.png"
        %br
        .creditcard__limit
          %label.creditcard__limit--title 有効期限
          %span.creditcard__limit--required 必須
          %br
          %select#exp_month{name: "exp_month", type: "text"} 
            %option{value:"01"} 1
            %option{value:"02"} 2
            %option{value:"03"} 3
            %option{value:"04"} 4
            %option{value:"05"} 5
            %option{value:"06"} 6
            %option{value:"07"} 7
            %option{value:"08"} 8
            %option{value:"09"} 9
            %option{value:"10"} 10
            %option{value:"11"} 11
            %option{value:"12"} 12
          %span.month 月
          %select#exp_year{name: "exp_year", type: "text"} 
            %option{value: "2020"}20
            %option{value: "2021"}21
            %option{value: "2022"}22
            %option{value: "2023"}23
            %option{value: "2024"}24
            %option{value: "2025"}25
            %option{value: "2026"}26
            %option{value: "2027"}27
            %option{value: "2028"}28
            %option{value: "2029"}29
            %option{value: "2030"}30
          %span.year 年
          %br
        .security
          %label.security__title セキュリティコード
          %span.security__required 必須
          = text_field_tag "cvc", "", class: "cvc", placeholder: "カード背面4桁もしくは3桁の番号", maxlength: "4", id: "cvc"
          %br
          %a.card__explanation{href: "#"} カード裏面の番号とは？
          #card_token
          = submit_tag "追加する", id: "token_submit"
        