.main__box__top2 {
  background-color: #ffffff;
  width : 700px;
  text-align: center;
  padding: 32px;
  border-bottom: solid 1px #f5f5f5;
  color: #333333;
  .main__box__bottom__content__btn2 {
    background-color: #3CCACE;
    color: #ffffff;
    font-size: 14px;
    height: 50px;
    margin: 0auto;
    margin-top: 7px;
    width: 342px;
    border: none;
    padding: 0;
    cursor: pointer;
  }
}
