@import "color";

.showMain {
  padding: 40px;
  margin: 0 auto;
  .contentRight {
    width: 700px;
    margin: 0 auto;
    .topContent {
      .itemBox {
        background-color: $color-show-topContent-itemBox;
        padding: 24px 40px 40px;
        .itemBox__name {
          text-align: center;
          font-weight: bold;
          font-size: 24px;
        }
        .itemBox__body {
          margin: 16px 0 0;
          ul {
            display: flex;
            position: relative;
            li {
              display: flex;
              flex-direction: column;
              width: 560px;
              align-items: center;
              margin: 0 auto;
              img {
                object-fit: cover;
                height: 346px;
                width: 100%;
                }
              }
            ul {
              display: flex;
              justify-content: center;
              margin-top: 10px;
              li {
                width: 25%;
                margin: 0 10px 0 0;
                img {
                  object-fit: cover;
                  height: 87px;
                }                
              }
            }
          }
        }
        .itemBox__price {
          margin: 24px 0 24px;
          text-align: center;
          display: flex;
          flex-direction: column;
          >span {
            font-size: 46px;
            font-weight: bold;
            margin: 0 10px 0 0;
          }
          &-detail {
            font-size: 16px;
          }
        }
        .itemDetail {
          line-height: 1.5;
          font-size: 18px;
          margin-bottom: 30px;
          word-break: break-word;
        }
        .table {
          margin-bottom: 20px;
          table {
            width: 100%;
            height: 375px;
            border-collapse: collapse;
            border: 1px solid $color-show-topContent-table-border;
            tbody {
              display: table-row-group;
              vertical-align: middle;
              border-color: inherit;
            }
            tr {
              display: table-row;
              vertical-align: inherit;
              border-color: inherit;
            }
            th {
              width: 20%;
              background-color: $color-show-topContent-table-th-background;
              font-weight: 400;
              padding: 8px;
              border: 1px solid $color-show-topContent-table-th-border;
              font-size: 14px;
              text-align: center;
            }
            td {
              width: 61%;
              padding: 15px 15px;
              border: 1px solid $color-show-topContent-table-td-border;
              font-size: 14px;
              a {
                text-decoration: none;
                color: $theme-color;
              }
            }
          }
        }
        .optionalArea {
          display: flex;
          justify-content: space-between;
          ul {
            margin: 10px 0 0;
            display: flex;
            li.likeBtn {
              margin-right: auto;
              padding: 6px 10px;
              border-radius: 40px;
              color: $theme-color;
              border: 1px solid $color-show-topContent-linkbtn;
            }
            li.optionalBtn {
              font-size: 14px;
              a {
                padding: 6px 10px;
                display: inline-block;
                border-radius: 4px;
                color: $color-show-topContent-optionalbtn;
                border: 1px solid $color-show-topContent-optionalbtn;
                text-decoration: none;
              }
            }
          }
        }
      }
      .commentBox {
        padding: 24px;
        background-color: $color-show-commentBox-background;
        margin: 10px 0;
        text-align: center;
        #comment_body {
          width: 100%;
          min-height: 104px;
          padding: 10px;
      }
        .noticeMsg {
          padding: 8px;
          font-size: 14px;
          background-color: $color-show-commentBox-noticeMsg;
          margin: 10px 0;
          text-align: left;
        }
        .commentBtn{
          font-size: 18px;
          line-height: 48px;
          background: $theme-color;
          border: 1px solid $theme-color;
          color: $color-show-commentBox-Btn;
          width: 60%;
          font-size: 18px;
          border-radius: 100px;
        }
      }
    }
    .links{
     display: flex;
     justify-content: space-between;

      li {
        a {
          text-decoration: none;
          color: $theme-color;
        }
        &:last-child {
          float: right;
        }
      }
    } 
    .relatedItems{
      a {
        display: block;
        margin: 24px 0 8px;
        color: $theme-color;
        text-decoration: none;
        font-weight: bold;
        font-size: 22px;
        position: relative;
      }
    }
  }
}
