.header{
  width: 100%;
  padding: 25px 200px 0 200px;
  &__Inner{
    display: flex;
    width: 100%;
    justify-content: space-between;
    .icon{
      padding-bottom: 10px;
      margin-right: 30px;
      border-radius: 4px;
      a{
       line-height: 30px;
       width: 140px;
       height: auto;
       display: block;
       img{
         width: 100%;
       }
     }
    }
    form{
      display: flex;
      width: 100%;
    }

    &__SearchBox{
      width: 100%;
      &--icon{
        background: $theme-color;
        width: 36px;
        height: auto;
        border: 0;
        cursor: pointer;
        background: $theme-color;
        padding: 8px;
        img{
          width: 100%;
          vertical-align: bottom;
        }
      }
    }
    #searchInput{
      width: calc(100% - 26px);
      height: 36px;
      padding: 0 0 0 5px;
    }
  }
  &__Nav{
    font-size: 14px;
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    &__listsLeft{
      position: relative;
      display: flex;
      &__item {
        display: flex;
        line-height: 38px;
        padding: 0 0 0 16px;
        &--first {
          text-decoration: none;
          padding: 0;
        }
        a {
          color: #333;
          text-decoration: none;
          line-height: 32px;
          background-position: center right;
          background-repeat: no-repeat;
          background-size: 18px;
          padding-right: 30px;
        }
      }
    }
    &__listsRight{
      font-size: 14px;
      display: flex;
      margin-bottom: 10px;
      &__item {
        color: #333;
        line-height: 38px;
        padding: 0 0 0 16px;
        a {
          display: flex;
          align-items: center;
          color: #333;
          text-decoration: none;
          line-height: 32px;
        }
      }
    }
  }
}
