.creditcard {
  height: 850px;
  background-color: $palette-lightGray;
  padding: 40px;
  &__header {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      color: inherit;
      text-decoration: none;
      img {
        height: 49px;
        width: 185px;
      }
    }
  }
  .title {
    text-align: center;
    padding: 10px;
    margin: 20px 0;
    font-size: 20px;
    font-weight: 700;
  }
  .information {
    height: 650px;
    width: 600px;
    background-color: $palette-White;
    margin: 0 auto;
    padding: 40px;
    &__number {
      width: 100%;
      padding-top: 20px;
      &--title {
      font-weight: 700;
      line-height: 20px;
      }
      &--required {
        height: 20px;
        width: 50px;
        background-color: $theme-color;
        line-height: 20px;
        text-align: center;
        margin-left: 10px;
      }
      .number {
        height: 50px;
        width: 80%;
      }
    }
    img {
      width: 60%;
      margin-top: 10px;
    }
    .creditcard__limit {
      width: 200px;
      margin: 10px 0;
      margin-top: 10px;
      padding-top: 20px;
      width: 80%;
      &--title {
      font-weight: 700;
      line-height: 20px;
      }
      &--required {
        height: 20px;
        width: 50px;
        background-color: $theme-color;
        line-height: 20px;
        text-align: center;
        margin-left: 10px;
      }
      &--select {
        display: flex;
        select {
          height: 50px;
          width: 150px;
          margin: 10px 0;
        }
        .month {
          display: inline;
          padding: 10px;
          line-height: 50px;
        }
        .year {
          display: inline;
          padding: 10px;
          line-height: 50px;
        }
      }
    }
    .security {
      width: 300px;
      margin: 10px 0;
      padding-top: 10px;
      &__title {
      font-weight: 700;
      line-height: 20px;
      }
      &__required {
        height: 20px;
        width: 50px;
        background-color: $theme-color;
        line-height: 20px;
        text-align: center;
        margin-left: 10px;
        }
      .cvc {
        height: 50px;
        width: 90%;
      }
      a.card__explanation {
        margin-top: 10px;
        padding-top: 10px;
      }
    }
    input#token_submit {
      width: 200px;
      height: 50px;
      margin: 70px 150px;
      text-align: center;
      background-color: $theme-color;
      border: none;
      font-size: 15px;
      font-weight: 700;
    }
  }
}