.creditcard__show {
  height: 700px;
  background-color: $palette-lightGray;
  padding: 40px;
.show__title {
    text-align: center;
    padding: 10px;
    margin: 20px 0;
    font-size: 20px;
    font-weight: 700;
  }
  .show__information {
    height: 500px;
    width: 600px;
    background-color: $palette-White;
    margin: 0 auto;
    padding-top: 100px;
    text-align: center;
    &--cardNo {
      font-weight: 700;
      font-size: 18px;
      margin-top: 30px;
    }
    .card__No {
      margin: 10px;
      font-size: 15px;
    }
    &--limit {
      font-weight: 700;
      font-size: 18px;
      margin-top: 30px;
    }
    .limit {
      margin: 10px;
      font-size: 15px;
    }
    button {
      width: 200px;
      height: 50px;
      margin: 70px 150px;
      text-align: center;
      background-color: $theme-color;
      border: none;
      font-size: 15px;
      font-weight: 700;
    }
  }
}