$palette-ofWhite:#eee;
$palette-snowWhite:#fcfcfc;
$palette-White:#f8f8f8;
$palette-trueWhite:#fff;
$palette-eGray: #eee;
$palette-cGray: #ccc;
$palette-dGray: #ddd;
$palette-9Gray: #999;
$palette-sandGray: #cecdcd;
$palette-lightGray: #dedede;
$palette-trueBlack: #000;
$palette-lightBlack: #272727;
$palette-lampBlack: #333;
$palette-sunnyRed: #FF141C;
$palette-cherryRed: #D41655;
$palette-lightBlue: #0095ee;
$palette-Cyan:#3CCACE;
$palette-Orange:#ffb340;

