.wrapper {
  height: 100%;
  width: 100vw;
  .top {
    background-color: #f5f5f5;
    height: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
    &__image {
      height: 49px;
      width: 185px;
    }
  }
  .main {
    background-color: #f5f5f5;
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &__box {
      background-color: #ffffff;
      height: 100%; 
      width : 700px;
      text-align: center;
      &__top {
        height: 97px;
        width: 100%;
        padding: 32px;
        font-size:22px;
        font-weight: bold;
        border-bottom: solid 1px #f5f5f5;
        color: #333333;
      }
      &__bottom {
        height: 100%;
        width: 100%;
        padding: 30px 40px;
        &__content {
          max-width: 343px;
          margin: auto;
          text-align: left;
          &__group1{
            label {
              font-size: 14px;
              font-weight: 600;
            }
            span {
              background-color: #3CCACE;
              color :#ffffff;
              font-size: 12px;
              padding: 2px 4px;
              margin-left: 8px;
              border-radius: 2px;
            }
            &__form {
              margin-top: 8px;
              height: 48px;
              width: 100%;
              padding: 10px 16px 8px;
              border-radius: 4px;
              border: 1px solid #ccc;
              font-size: 16px;
            } 
          }
          &__group2{
            margin-top: 24px; 
            position: relative;
            label {
              font-size: 14px;
              font-weight: 600;
            }
            span {
              background-color: #3CCACE;
              color :#ffffff;
              font-size: 12px;
              padding: 2px 4px;
              margin-left: 4px;
              border-radius: 2px;
            }
            span.any {
              background-color: #cccccc;
              color :#ffffff;
              font-size: 12px;
              padding: 2px 4px;
              margin-left: 4px;
              border-radius: 2px;
            } 
            &__icon {
              position: absolute;
              right: 20px;
              top: 40px;
              color: #888888;
              cursor: pointer;
              font-size: 17px;
            }
            &__form {
              margin-top: 8px;
              height: 48px;
              width: 100%;
              padding: 10px 16px 8px;
              border-radius: 4px;
              border: 1px solid #ccc;
              font-size: 16px;
              background-color: #ffffff;
              -webkit-appearance: none;
            }
            p {
              margin-top: 8px;
              color: #888888;
              font-size: 14px;
            }
            &__box {
              margin-top: 16px;
              &__label {
              cursor: pointer;
              display: flex;
                &__checkbox {
                  cursor: pointer;
                  border-radius: 0;
                }
                &__text {
                  padding-left: 10px;
                  font-size: 14px;
                  line-height: initial;
                  font-weight: 5;
                }
              }
            }
          }
          &__group2{
            margin-top: 24px;
            h3 {
              font-weight: 600;
              size:  16px;
            }
            h4 {
              color: #333;
              font-size: 14px;
              margin-top: 8px;
            }
          }
          &__group3 {
            margin-top: 24px;
              label {
                font-size: 14px;
                font-weight: 600;
              }
              span {
                background-color: #3CCACE;
                color :#ffffff;
                font-size: 12px;
                padding: 2px 4px;
                margin-left: 8px;
                border-radius: 2px;
              }
            &__box {
              display: flex;

              &__form1 {
                margin: 8px 8px 0 0;
                height: 48px;
                width: calc(50% - 2px);
                padding: 10px 16px 8px;
                border-radius: 4px;
                border: 1px solid #ccc;
                font-size: 16px;

              }
              &__form2 {
                margin-top: 8px;
                height: 48px;
                margin-right: 0;
                width: calc(50% - 2%);
                padding: 10px 16px 8px;
                border-radius: 4px;
                border: 1px solid #ccc;
                font-size: 16px;
              }
            }
          }
          &__group3 {
            margin-top: 24px;
              label {
                font-size: 14px;
                font-weight: 600;
              }
              span {
                background-color: #3CCACE;
                color :#ffffff;
                font-size: 12px;
                padding: 2px 4px;
                margin-left: 0;
                border-radius: 2px;
              }
            &__box{
              &__barthday {
                margin-top: 8px;
                display: flex;
                color: #333;
                align-items: center;
                position: relative;
                &__icon {
                  position: absolute;
                  right :40px;
                  top :15px;
                  color: #888888;
                  cursor: pointer;
                  font-size: 17px;
                }
                &__year {
                  height: 48px;
                  width: 76px;
                  background-color: #ffffff;
                  -webkit-appearance:none;
                  padding: 0 10px;
                  cursor : pointer;
                }
                span {
                  background-color: #ffffff;
                  color: #333;
                  font-size: 14px;
                  margin: 0 2px;
                }
              }
            }
          }
          p {
            color: #888888;
            font-size: 14px;
            margin-top: 8px;
          }
          &__group4 {
            margin-top: 42px;
            p {
              margin : 0;
              color: #333333;
              text-align: center;
              font-size: 14px;
            }
              &__text {
                text-decoration: none;
                color: red;
              }
          }
          &__btn {
            background-color: #3CCACE;
            color: #ffffff;
            font-size: 14px;
            height: 50px;
            width: 100%;
            margin-top: 24px;
            border: none;
            padding: 0;
            cursor: pointer;
          }
          &__group5 {
            margin-top: 24px;
            text-align: right;
            &__text {
            text-decoration: none;
            color: red;
            font-size: 14px;
            }
          }
          &__group6 {
            margin-top: 24px;
            padding: 8px 16px;
            background-color: #f5f5f5;
            h5 {
              color: #888888;
              font-size: 11px;
              line-height: 1.8em;
              .main__box__bottom__content__group6__text {
                font-size: 11px;
                text-decoration: none;
                color: red;
              }
            }
          }    
        }
      }
    }
  }

  .bottom {
    background-color: #f5f5f5;
    padding-top: 100px;
    &__box {
      margin: 0 241px;
      margin: 0auto;
      padding-bottom: 40px;
      justify-content: center;
      text-align: center;
      vertical-align: bottom;
      ul {
        text-align: center;
        li {
          display: inline;
          font-size: 13px;
          a {
            text-decoration: none;
            color: #333;
            margin: 0 10px;
          }
        } 
      }
      a {
        .bottom__box__image {
          margin-top: 40px;
          height: 65px;
          width: 80px;
          color: #333333; 
        }
      }
      h6 {
        margin-top: 3px;
        color: #333;
        font-size: 12px;
      }
    }
  }
}
